html, body {
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center; 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 10px;
}
.swords-card, .cups-card, .coins-card, .clubs-card {
  height: 100px;
  width: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.coins-card {
  background-color: yellow;
}

.swords-card {
  background-color: blue;
}

.cups-card {
  background-color: red;
}

.clubs-card {
  background-color: grey;
}

.human-cards-container, .computer-cards-container {
  display: flex;
  gap: 10px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-game, .start-game:after, .resume-game, .resume-game:after {
  margin: 50px;
  padding: 20px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  outline: 1px solid black;
}
.index-body {
  display: flex;
  justify-content: center;
}
.home-button, .home-button:after {
  text-decoration: none;
  color: black;
  font-size: 18px;
  outline: 1px solid black;
  padding: 25px;
  position: absolute;
  left: 1%;
  top: 1%;
}
