html, body {
  background-color: rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 10px;
}
.swords-card, .cups-card, .coins-card, .clubs-card {
  height: 100px;
  width: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.coins-card {
  background-color: yellow;
}

.swords-card {
  background-color: blue;
}

.cups-card {
  background-color: red;
}

.clubs-card {
  background-color: grey;
}
